<div class="container__register">
    <form [formGroup]="userForm" (ngSubmit)="registerOrEdit()">
        <div class="col-4">
            <app-form-input
            inputName="name"
            [parentFormGroup]="userForm"
            ></app-form-input>
        </div>
        <div class="col-4">
            <app-form-input
            inputName="accountNumber"
            [parentFormGroup]="userForm"
            ></app-form-input>
        </div>
        <div class="col-4">
            <app-form-input
            inputName="accountAgency"
            [parentFormGroup]="userForm"
            ></app-form-input>
        </div>
        <div class="col-4">
            <app-form-input
            inputType="number"
            inputName="accountBalance"
            [parentFormGroup]="userForm"
            ></app-form-input>
        </div>
        <div class="col-4">
            <app-form-input
            inputType="number"
            inputName="accountLimit"
            [parentFormGroup]="userForm"
            ></app-form-input>
        </div>
        <div class="col-4">
            <app-form-input
            inputName="cardNumber"
            [parentFormGroup]="userForm"
            ></app-form-input>
        </div>
        <div class="col-4">
            <app-form-input
            inputType="number"
            inputName="cardLimit"
            [parentFormGroup]="userForm"
            ></app-form-input>
        </div>

       <button type="submit" [disabled]="!userForm.valid">Save</button>
    </form>
</div>
